body {
  background-color: gainsboro;
}

h1 {
  color: coral;
  text-align: center;
}

div {
  text-align: center;
}

textarea {
  vertical-align:top;
}

#output {
  background-color: skyblue;
}

.status {
  text-align: right;
}

.loginBlk {
  text-align: left;
  width: 200px;
}
.loginBlk input {
  display: inline-block;
  margin: 10px;
}