body {
  background-color: gainsboro;
}

h1 {
  color: coral;
  text-align: center;
}

div {
  text-align: center;
}

textarea {
  vertical-align:top;
}

#output {
  background-color: skyblue;
}




.main_title{
  color: coral;
  text-align: center;
  font-size: 30px;
  margin: 30px 0;
}
.input_content__warpper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.input_content{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input_content input,.input_content textarea{
 padding: 5px;
}

button#send{
  position: relative;
  display: inline-block;
  width:300px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  outline: none;
  border: 0;
}

button#send span{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  transform-style: preserve-3d;
  transition: 0.5s;
}

button#send span:nth-child(1) {
  background: #fff;
  color: #000;
  transform: rotateX(0deg);
  transform-origin: 0 30% -10px;
}

button#send:hover span:nth-child(1) {
  transform: rotateX(-90deg);
}

button#send span:nth-child(2) {
  background: #000;
  color: #fff;
  transform: rotateX(90deg);
  transform-origin: 0 30% -10px;
}

button#send:hover span:nth-child(2) {
  transform: rotateX(0deg);
}

#output .box{
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.status {
  text-align: right;
}

.loginBlk {
  text-align: left;
  width: 200px;
}
.loginBlk input {
  display: inline-block;
  margin: 10px;
}